body {
  font-family: Verdana;
  font-weight: bold;
  background-color: #D4EEE4;
  text-align: center;
}

h1 {
  font-size: 70px;
  padding-bottom: 100px;
}

h2 {
padding-top: 50px;
padding-bottom: 50px;
}

ol {
  text-align: left;
  width: 17%;
  margin: 0 auto;
}

ul {
  text-align: left;
  width: 25%;
  margin: 0 auto;
}
