body {
  font-family: Helvetica;
  font-weight: bold;
  background-color: #D4EEE4;
  padding-left: 750px;

}

h1 {
  font-size: 70px;
  padding-bottom: 100px;
}

h2 {
padding-top: 50px;
padding-bottom: 50px;
}

p {

}

li {

}
